.tshirt {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 500px; 
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    max-height: 500px; 
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.tshirt button {
    margin-right: 10px;
    min-width: 80px;
    border: 1px solid #000;
    border-width: 2px;
    color: #000;
    border-radius: 6px; 
    padding: 8px 16px; 
    font-size: 14px; 
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.tshirt img {
    max-height: 360px; 
    width: auto;
    display: block;
    margin: 0;
}

#buttonsContainer {
    text-align: start;
    position: relative;
    top: -300px;
    left: 320px;
}

#price {
    font-size: 18px; 
    text-align: start;
    font-weight: 550;
    position: relative;
    top: -300px;
    left: 320px;
}

h2 {
    font-size: 26px;
    text-align: left;
    margin-left: 10px;
}

p {
    font-size: 14px; 
    text-align: start;
    position: relative;
    top: -300px;
    left: 320px;
}

html {
    background-color: #f2f2f2;; 
}